#gourmand-breadcrumbs-wrapper {
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  text-align: left;
  padding: 40px 0px;
}
@media (max-width: 991px) {
  #gourmand-breadcrumbs-wrapper {
    padding: 32px 0px;
  }
}
@media (max-width: 767px) {
  #gourmand-breadcrumbs-wrapper {
    padding: 26px 0px;
  }
}
@media (max-width: 540px) {
  #gourmand-breadcrumbs-wrapper {
    padding: 22px 0px;
  }
}
@media (max-width: 480px) {
  #gourmand-breadcrumbs-wrapper {
    padding: 18px 0px;
  }
}
#gourmand-breadcrumbs-wrapper ul {
  list-style: none;
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
}
#gourmand-breadcrumbs-wrapper ul li {
  display: inline-block;
  color: #bbc2c9;
  margin: 0px;
}
#gourmand-breadcrumbs-wrapper ul li:after {
  content: '\e87e';
  color: #bbc2c9;
  margin-left: 12px;
  margin-right: 12px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}
#gourmand-breadcrumbs-wrapper ul li a {
  color: rgba(57, 80, 106, 0.85);
}
#gourmand-breadcrumbs-wrapper ul li a:hover {
  color: #233141;
}
#gourmand-breadcrumbs-wrapper h1 {
  color: #233141;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 44px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  #gourmand-breadcrumbs-wrapper h1 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  #gourmand-breadcrumbs-wrapper h1 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 14px;
  }
}
@media (max-width: 540px) {
  #gourmand-breadcrumbs-wrapper h1 {
    font-size: 26px;
    line-height: 32px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  #gourmand-breadcrumbs-wrapper h1 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 8px;
  }
}
#gourmand-breadcrumbs-wrapper h1 img.avatar {
  margin-right: 10px;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
@media (max-width: 991px) {
  #gourmand-breadcrumbs-wrapper h1 img.avatar {
    max-width: 58px;
  }
}
@media (max-width: 767px) {
  #gourmand-breadcrumbs-wrapper h1 img.avatar {
    max-width: 52px;
  }
}
@media (max-width: 540px) {
  #gourmand-breadcrumbs-wrapper h1 img.avatar {
    max-width: 46px;
  }
}
@media (max-width: 480px) {
  #gourmand-breadcrumbs-wrapper h1 img.avatar {
    max-width: 42px;
  }
}
#gourmand-breadcrumbs-wrapper p {
  max-width: 800px;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 0px;
}
#gourmand-breadcrumbs-wrapper span.counter-wrapper {
  border: 2px solid #233141;
  color: #233141;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  padding: 6px 25px;
  float: right;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
@media (max-width: 640px) {
  #gourmand-breadcrumbs-wrapper span.counter-wrapper {
    display: none;
  }
}
#gourmand-breadcrumbs-wrapper .search-form {
  background: #ffffff;
  border: 1px solid #d7d9db;
  display: block;
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  border-radius: 56px;
}
#gourmand-breadcrumbs-wrapper .search-form input[type="search"] {
  height: 38px;
  width: -webkit-calc( 100% - 80px  );
  width: -moz-calc( 100% - 80px  );
  width: calc( 100% - 80px  );
}
#gourmand-breadcrumbs-wrapper .search-form input[type="search"],
#gourmand-breadcrumbs-wrapper .search-form input[type="search"]:focus,
#gourmand-breadcrumbs-wrapper .search-form input[type="search"]:hover,
#gourmand-breadcrumbs-wrapper .search-form input[type="search"]:active {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: none;
  outline: 0 none \9;
  outline: unset;
  outline-width: 0;
  outline-style: none;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0;
  filter: -;
}
#gourmand-breadcrumbs-wrapper .search-form button {
  width: 60px;
  height: 38px;
  line-height: 28px;
  padding: 5px 20px;
  text-align: center;
  float: right;
  margin-right: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#gourmand-breadcrumbs-wrapper .search-form button span {
  display: none;
}
#gourmand-content-wrapper.template-404 #gourmand-breadcrumbs-wrapper {
  background: transparent;
  border-bottom: none;
  text-align: center;
  padding: 0px;
}
#gourmand-content-wrapper.template-404 h1 {
  color: #233141;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 200px;
  line-height: 210px;
  letter-spacing: -5px;
}
@media (max-width: 540px) {
  #gourmand-content-wrapper.template-404 h1 {
    font-size: 160px;
    line-height: 170px;
  }
}
@media (max-width: 480px) {
  #gourmand-content-wrapper.template-404 h1 {
    font-size: 140px;
    line-height: 150px;
  }
}
#gourmand-content-wrapper.template-404 h2 {
  font-size: 28px;
  line-height: 34px;
  margin: 30px 0px;
}
@media (max-width: 480px) {
  #gourmand-content-wrapper.template-404 h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
#gourmand-content-wrapper.template-404 p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-style: italic;
  margin-bottom: 40px;
}
header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper {
  text-align: center;
}
header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper h1 {
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 200px;
  line-height: 210px;
  letter-spacing: -5px;
}
@media (max-width: 540px) {
  header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper h1 {
    font-size: 160px;
    line-height: 170px;
  }
}
@media (max-width: 480px) {
  header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper h1 {
    font-size: 140px;
    line-height: 150px;
  }
}
header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper h2 {
  font-size: 28px;
  line-height: 34px;
  margin: 30px 0px;
}
@media (max-width: 480px) {
  header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
header section.header-partial.template-404 #gourmand-header-wrapper #gourmand-breadcrumbs-wrapper p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 40px;
}
span.counter-wrapper {
  color: #fff;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
  background: #233141 !important;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  background: #ef4836 !important;
}
div.gourmand-pagination {
  display: block;
  font-size: 0px;
  line-height: 0px;
  text-align: center;
}
div.gourmand-pagination h2.screen-reader-text {
  display: none;
}
div.gourmand-pagination nav.pagination {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
}
div.gourmand-pagination span,
div.gourmand-pagination a {
  display: inline-block;
  padding: 8px;
  min-width: 40px;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.gourmand-pagination span:first-child,
div.gourmand-pagination a:first-child {
  margin-left: 0px;
}
div.gourmand-pagination span {
  background: #233141;
  color: #ffffff;
}
div.gourmand-pagination span.dots {
  background: transparent;
  color: #233141;
}
div.gourmand-pagination a {
  background: #f5f5f5;
  color: #233141;
}
div.gourmand-pagination a:hover {
  background: #233141;
  color: #ffffff;
}
