div.gourmand-comments-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
div.gourmand-comments-wrapper div.gourmand-custom-comments .fb_iframe_widget_loader {
  margin-top: 20px;
}
div.gourmand-comments-wrapper div.gourmand-custom-comments .fb_iframe_widget_loader,
div.gourmand-comments-wrapper div.gourmand-custom-comments .fb_iframe_widget_loader span,
div.gourmand-comments-wrapper div.gourmand-custom-comments .fb_iframe_widget_loader iframe {
  width: 100% !important;
}
div.gourmand-author-wrapper + div.gourmand-comments-wrapper {
  margin-top: 0px;
}
h3.gourmand-comments-title {
  font-size: 18px;
  line-height: 36px;
  padding: 23px 0px 23px 40px;
  margin: 0px;
  font-weight: 500;
}
h3.gourmand-comments-title i {
  margin-right: 10px;
}
@media (max-width: 1199px) {
  h3.gourmand-comments-title {
    font-size: 18px;
    line-height: 36px;
  }
}
body.left-sidebar h3.gourmand-comments-title,
body.right-sidebar h3.gourmand-comments-title {
  font-size: 18px;
  line-height: 36px;
  margin: 0px;
}
@media (max-width: 1199px) {
  body.left-sidebar h3.gourmand-comments-title,
  body.right-sidebar h3.gourmand-comments-title {
    font-size: 18px;
    line-height: 36px;
    margin: 0px;
  }
}
body.left-sidebar h3.gourmand-comments-title + div.gourmand-comments,
body.right-sidebar h3.gourmand-comments-title + div.gourmand-comments {
  margin-top: 0px;
}
@media (max-width: 1199px) {
  body.left-sidebar h3.gourmand-comments-title + div.gourmand-comments,
  body.right-sidebar h3.gourmand-comments-title + div.gourmand-comments {
    margin-top: 0px;
  }
}
div.gourmand-comments {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px;
}
div.have-comments + div.gourmand-comments {
  border-top: none;
}
div.have-comments + div.gourmand-comments div.comment-respond {
  padding-top: 10px;
}
body.left-sidebar ol.gourmand-comments-list,
body.right-sidebar ol.gourmand-comments-list,
body.left-sidebar ol.gourmand-comments-list ul,
body.right-sidebar ol.gourmand-comments-list ul {
  margin: 0px;
}
@media (max-width: 1199px) {
  body.left-sidebar ol.gourmand-comments-list,
  body.right-sidebar ol.gourmand-comments-list,
  body.left-sidebar ol.gourmand-comments-list ul,
  body.right-sidebar ol.gourmand-comments-list ul {
    margin: 0px;
  }
}
ol.gourmand-comments-list,
ol.gourmand-comments-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ol.gourmand-comments-list ul li:last-child {
  padding-bottom: 0px;
}
ol.gourmand-comments-list li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 30px 0px 30px 120px;
  margin: 0px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li {
    padding: 24px 0px 24px 80px;
  }
}
@media (max-width: 640px) {
  ol.gourmand-comments-list li {
    padding: 24px 0px 24px 0px;
  }
}
ol.gourmand-comments-list li li {
  margin-top: 40px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li li {
    margin-top: 34px;
  }
}
ol.gourmand-comments-list li header {
  margin-bottom: 24px;
}
ol.gourmand-comments-list li header img.avatar {
  margin-left: -120px;
  float: left;
  -webkit-box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li header img.avatar {
    margin-left: -80px;
    width: 50px;
    height: auto;
  }
}
@media (max-width: 640px) {
  ol.gourmand-comments-list li header img.avatar {
    margin-left: 0px;
    float: none;
    margin-bottom: 20px;
  }
}
ol.gourmand-comments-list li header span.comment-replay {
  float: right;
}
ol.gourmand-comments-list li header span.comment-replay a {
  background: #f7f7f7;
  color: #233141;
  display: block;
  font-size: 11px;
  line-height: 24px;
  font-weight: bold;
  padding: 3px 24px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
ol.gourmand-comments-list li header span.comment-replay a:hover {
  background: #233141;
  color: #ffffff;
}
ol.gourmand-comments-list li header cite {
  font-weight: 500;
  color: #233141;
  display: block;
  height: 30px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li header cite {
    font-size: 20px;
  }
}
ol.gourmand-comments-list li header cite,
ol.gourmand-comments-list li header cite a {
  color: #233141;
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
  letter-spacing: -0.05px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li header cite,
  ol.gourmand-comments-list li header cite a {
    font-size: 20px;
  }
}
ol.gourmand-comments-list li header cite a:hover {
  color: #ef4836;
}
ol.gourmand-comments-list li header cite span {
  float: left;
  display: inline-block;
  line-height: 30px;
}
ol.gourmand-comments-list li header cite span.author-tag {
  background: #ef4836;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  line-height: 24px;
  padding: 3px 16px;
  margin-left: 16px;
  letter-spacing: .15px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
ol.gourmand-comments-list li header cite:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
ol.gourmand-comments-list li header time {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #bbc2c9;
}
ol.gourmand-comments-list li header time span:last-child {
  margin-left: 15px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li header time {
    font-size: 12px;
  }
}
ol.gourmand-comments-list li div.comment-quote,
ol.gourmand-comments-list li div.comment-quote p {
  color: #555555;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 767px) {
  ol.gourmand-comments-list li div.comment-quote,
  ol.gourmand-comments-list li div.comment-quote p {
    font-size: 13px;
    line-height: 22px;
  }
}
ol.gourmand-comments-list li div.comment-quote p {
  margin: 22px 0px;
}
ol.gourmand-comments-list li div.comment-quote p:first-child {
  margin-top: 0px;
}
ol.gourmand-comments-list li div.comment-quote p:last-child {
  margin-bottom: 0px;
}
ol.gourmand-comments-list li div.comment-quote p p + div.clearfix:last-child {
  margin-top: -22px;
}
ol.gourmand-comments-list li div.comment-respond {
  padding-left: 0px;
  margin-top: 40px;
}
div.comment-respond {
  margin-top: 0px;
  padding-top: 0px;
}
div.comment-respond h3.comment-reply-title {
  font-size: 0px;
  line-height: 0px;
  margin: 0px 0px 24px 0px;
}
div.comment-respond h3.comment-reply-title small a {
  background: #f7f7f7;
  color: #233141;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  padding: 8px 18px;
  text-transform: uppercase;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
div.comment-respond h3.comment-reply-title small a:hover {
  background: #233141;
  color: #ffffff;
}
div.comment-respond form {
  margin: 0px;
  padding: 0px;
}
div.comment-respond form p {
  margin: 0px;
}
div.comment-respond form p.form-submit {
  margin-top: 40px;
  display: block;
}
div.comment-respond form script + p.comment-subscription-form {
  margin-top: 30px;
}
@media (max-width: 767px) {
  div.comment-respond form script + p.comment-subscription-form {
    margin-top: 24px;
  }
}
div.comment-respond form textarea {
  display: block;
  width: 100%;
  margin: 0px;
  height: 180px;
}
div.comment-respond form div.field {
  display: block;
  font-size: 0px;
  line-height: 0px;
}
div.comment-respond form div.field p {
  display: block;
  float: left;
  margin-top: 40px;
  width: 30%;
  margin-left: 5%;
}
div.comment-respond form div.field p input {
  display: block;
  width: 100%;
}
div.comment-respond form div.field p:first-child {
  margin-left: 0px;
}
