.hentry div.gourmand-gallery {
  margin-top: 60px;
  margin-bottom: 60px;
}
.hentry div.gourmand-gallery:first-child {
  margin-top: 0px;
}
.hentry div.gourmand-gallery + div.clearfix:last-child {
  margin-top: -60px;
}
@media (max-width: 640px) {
  .hentry div.gourmand-gallery {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .hentry div.gourmand-gallery:first-child {
    margin-top: 0px;
  }
  .hentry div.gourmand-gallery + div.clearfix:last-child {
    margin-top: -36px;
  }
}
@media (max-width: 540px) {
  .hentry div.gourmand-gallery {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .hentry div.gourmand-gallery:first-child {
    margin-top: 0px;
  }
  .hentry div.gourmand-gallery + div.clearfix:last-child {
    margin-top: -24px;
  }
}
div.gourmand-gallery.default,
div.gourmand-gallery.portfolio,
div.gourmand-gallery.services {
  margin-left: -15px;
  margin-right: -15px;
}
div.gourmand-gallery.default figure.gourmand-gallery-item,
div.gourmand-gallery.portfolio figure.gourmand-gallery-item,
div.gourmand-gallery.services figure.gourmand-gallery-item {
  padding: 0px 15px;
  float: left;
  width: 33.333333333%;
}
div.gourmand-gallery.default figure.gourmand-gallery-item div.thumbnail-wrapper,
div.gourmand-gallery.portfolio figure.gourmand-gallery-item div.thumbnail-wrapper,
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper,
div.gourmand-gallery.default figure.gourmand-gallery-item div.thumbnail-wrapper img,
div.gourmand-gallery.portfolio figure.gourmand-gallery-item div.thumbnail-wrapper img,
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper img,
div.gourmand-gallery.default figure.gourmand-gallery-item div.thumbnail-wrapper picture,
div.gourmand-gallery.portfolio figure.gourmand-gallery-item div.thumbnail-wrapper picture,
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper picture {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.gourmand-gallery.default.gourmand-gallery-colls-1,
div.gourmand-gallery.portfolio.gourmand-gallery-colls-1,
div.gourmand-gallery.services.gourmand-gallery-colls-1 {
  margin: 0px -15px;
}
div.gourmand-gallery.default.gourmand-gallery-colls-1 figure.gourmand-gallery-item,
div.gourmand-gallery.portfolio.gourmand-gallery-colls-1 figure.gourmand-gallery-item,
div.gourmand-gallery.services.gourmand-gallery-colls-1 figure.gourmand-gallery-item {
  width: 100%;
}
div.gourmand-gallery.default.gourmand-gallery-colls-2 .gourmand-gallery-wrapper,
div.gourmand-gallery.portfolio.gourmand-gallery-colls-2 .gourmand-gallery-wrapper,
div.gourmand-gallery.services.gourmand-gallery-colls-2 .gourmand-gallery-wrapper {
  max-width: 652px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 540px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-2 .gourmand-gallery-wrapper,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-2 .gourmand-gallery-wrapper,
  div.gourmand-gallery.services.gourmand-gallery-colls-2 .gourmand-gallery-wrapper {
    max-width: 326px;
  }
}
div.gourmand-gallery.default.gourmand-gallery-colls-2 figure.gourmand-gallery-item,
div.gourmand-gallery.portfolio.gourmand-gallery-colls-2 figure.gourmand-gallery-item,
div.gourmand-gallery.services.gourmand-gallery-colls-2 figure.gourmand-gallery-item {
  width: 50%;
}
@media (max-width: 540px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-2 figure.gourmand-gallery-item,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-2 figure.gourmand-gallery-item,
  div.gourmand-gallery.services.gourmand-gallery-colls-2 figure.gourmand-gallery-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-3 .gourmand-gallery-wrapper,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-3 .gourmand-gallery-wrapper,
  div.gourmand-gallery.services.gourmand-gallery-colls-3 .gourmand-gallery-wrapper {
    max-width: 652px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 540px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-3 .gourmand-gallery-wrapper,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-3 .gourmand-gallery-wrapper,
  div.gourmand-gallery.services.gourmand-gallery-colls-3 .gourmand-gallery-wrapper {
    max-width: 326px;
  }
}
div.gourmand-gallery.default.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
div.gourmand-gallery.portfolio.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
div.gourmand-gallery.services.gourmand-gallery-colls-3 figure.gourmand-gallery-item {
  width: 33.333333333%;
}
@media (max-width: 767px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
  div.gourmand-gallery.services.gourmand-gallery-colls-3 figure.gourmand-gallery-item {
    width: 50%;
  }
}
@media (max-width: 540px) {
  div.gourmand-gallery.default.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
  div.gourmand-gallery.portfolio.gourmand-gallery-colls-3 figure.gourmand-gallery-item,
  div.gourmand-gallery.services.gourmand-gallery-colls-3 figure.gourmand-gallery-item {
    width: 100%;
  }
}
div.gourmand-gallery.default .gourmand-gallery-wrapper {
  margin-top: -36px;
}
div.gourmand-gallery.default figure.gourmand-gallery-item {
  margin-top: 36px;
}
div.gourmand-gallery.default div.thumbnail-wrapper,
div.gourmand-gallery.default img,
div.gourmand-gallery.default picture {
  margin: 0px;
}
div.gourmand-gallery.default h3.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 24px;
}
div.gourmand-gallery.default p.caption {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0px;
}
div.gourmand-gallery.portfolio .gourmand-gallery-wrapper {
  margin-top: -30px;
}
div.gourmand-gallery.portfolio figure.gourmand-gallery-item {
  margin-top: 30px;
}
div.gourmand-gallery.portfolio div.gourmand-gallery-item-inner {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 8px 34px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 8px 34px rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 34px rgba(0, 0, 0, 0.12);
}
div.gourmand-gallery.portfolio div.thumbnail-wrapper,
div.gourmand-gallery.portfolio img,
div.gourmand-gallery.portfolio picture {
  margin: 0px;
}
div.gourmand-gallery.portfolio figcaption.content-side {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
div.gourmand-gallery.portfolio figcaption.content-side i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
div.gourmand-gallery.portfolio figcaption.content-side span.title,
div.gourmand-gallery.portfolio figcaption.content-side span.caption {
  color: rgba(255, 255, 255, 0);
  display: block;
}
div.gourmand-gallery.portfolio figcaption.content-side span.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
div.gourmand-gallery.portfolio figcaption.content-side span.caption {
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
}
div.gourmand-gallery.portfolio figcaption.content-side span.flex-item {
  padding: 10px 15px;
}
div.gourmand-gallery.portfolio figcaption.content-side a {
  background: rgba(0, 0, 0, 0);
}
div.gourmand-gallery.portfolio figcaption.content-side a:hover {
  background: rgba(0, 0, 0, 0.5);
}
div.gourmand-gallery.portfolio figcaption.content-side a:hover i {
  color: #ffffff;
}
div.gourmand-gallery.portfolio figcaption.content-side a:hover span.title,
div.gourmand-gallery.portfolio figcaption.content-side a:hover span.caption {
  color: #ffffff;
}
div.gourmand-gallery.services .gourmand-gallery-wrapper {
  margin-top: -46px;
}
div.gourmand-gallery.services figure.gourmand-gallery-item {
  margin-top: 46px;
}
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper,
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper img,
div.gourmand-gallery.services figure.gourmand-gallery-item div.thumbnail-wrapper picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
div.gourmand-gallery.services div.thumbnail-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 180px;
  margin: 0px auto;
}
div.gourmand-gallery.services div.thumbnail-wrapper picture,
div.gourmand-gallery.services div.thumbnail-wrapper picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
div.gourmand-gallery.services div.thumbnail-wrapper a {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.gourmand-gallery.services div.thumbnail-wrapper a i {
  color: rgba(255, 255, 255, 0);
  display: block;
  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 180px;
  text-align: center;
}
div.gourmand-gallery.services div.thumbnail-wrapper a:hover {
  background: rgba(0, 0, 0, 0.4);
  opacity: 100;
  filter: alpha(opacity=10000);
}
div.gourmand-gallery.services div.thumbnail-wrapper a:hover i {
  color: #ffffff;
  font-size: 24px;
}
div.gourmand-gallery.services h3.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 24px;
  text-align: center;
}
div.gourmand-gallery.services p.caption {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0px;
  text-align: center;
}
div.gourmand-gallery.features figure.gourmand-gallery-item {
  width: 100%;
  display: table;
  padding: 60px 0px 0px 0px;
  margin: 60px 0px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
div.gourmand-gallery.features figure.gourmand-gallery-item:first-child {
  border-top: none;
  padding: 0px;
  margin: 0px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side {
  width: 50%;
  float: left;
  display: block;
  margin: 0px;
  text-align: right;
  padding-right: 30px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper {
  display: inline-block;
  margin: 0px;
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 225px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper picture,
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a i {
  color: rgba(255, 255, 255, 0);
  display: block;
  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 225px;
  text-align: center;
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a:hover {
  background: rgba(0, 0, 0, 0.4);
  opacity: 100;
  filter: alpha(opacity=10000);
}
div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a:hover i {
  color: #ffffff;
  font-size: 24px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item figcaption {
  width: 50%;
  display: block;
  float: right;
  padding-left: 30px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item figcaption h3.title {
  margin-top: 0px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item figcaption p.caption {
  margin-bottom: 0px;
}
div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side {
  float: right;
  padding-left: 30px;
  padding-right: 0px;
  text-align: left;
}
div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) figcaption {
  float: left;
  padding-right: 30px;
  padding-left: 0px;
  text-align: right;
}
@media (max-width: 767px) {
  div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side {
    display: block;
    width: auto;
    float: none;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) figcaption {
    float: none;
    text-align: center;
    margin-top: 40px;
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  div.gourmand-gallery.features figure.gourmand-gallery-item {
    padding: 36px 0px 0px 0px;
    margin: 36px 0px 0px 0px;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper {
    width: 180px;
    height: 180px;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a i,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper a i {
    line-height: 180px;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) figcaption {
    margin-top: 30px;
  }
}
@media (max-width: 540px) {
  div.gourmand-gallery.features figure.gourmand-gallery-item {
    padding: 30px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
  }
  div.gourmand-gallery.features figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.features figure.gourmand-gallery-item:nth-child(2n) figcaption {
    margin-top: 24px;
  }
}
div.gourmand-gallery.features figure.gourmand-gallery-item:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
div.gourmand-gallery.story figure.gourmand-gallery-item {
  width: 100%;
  display: table;
  padding: 60px 0px 0px 0px;
  margin: 60px 0px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
div.gourmand-gallery.story figure.gourmand-gallery-item:first-child {
  border-top: none;
  padding: 0px;
  margin: 0px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side {
  width: 50%;
  float: left;
  display: block;
  margin: 0px;
  text-align: right;
  padding-right: 30px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper {
  display: inline-block;
  margin: 0px;
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 225px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper picture,
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a i {
  color: rgba(255, 255, 255, 0);
  display: block;
  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 225px;
  text-align: center;
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a:hover {
  background: rgba(0, 0, 0, 0.4);
  opacity: 100;
  filter: alpha(opacity=10000);
}
div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a:hover i {
  color: #ffffff;
  font-size: 24px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item figcaption {
  width: 50%;
  display: block;
  float: right;
  padding-left: 30px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item figcaption h3.title {
  margin-top: 0px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item figcaption p.caption {
  margin-bottom: 0px;
}
div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side {
  float: right;
  padding-left: 30px;
  padding-right: 0px;
  text-align: left;
}
div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) figcaption {
  float: left;
  padding-right: 30px;
  padding-left: 0px;
  text-align: right;
}
@media (max-width: 767px) {
  div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side {
    display: block;
    width: auto;
    float: none;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) figcaption {
    float: none;
    text-align: center;
    margin-top: 40px;
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  div.gourmand-gallery.story figure.gourmand-gallery-item {
    padding: 36px 0px 0px 0px;
    margin: 36px 0px 0px 0px;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper {
    width: 180px;
    height: 180px;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item div.thumbnail-side div.thumbnail-wrapper a i,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) div.thumbnail-side div.thumbnail-wrapper a i {
    line-height: 180px;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) figcaption {
    margin-top: 30px;
  }
}
@media (max-width: 540px) {
  div.gourmand-gallery.story figure.gourmand-gallery-item {
    padding: 30px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
  }
  div.gourmand-gallery.story figure.gourmand-gallery-item figcaption,
  div.gourmand-gallery.story figure.gourmand-gallery-item:nth-child(2n) figcaption {
    margin-top: 24px;
  }
}
div.gourmand-gallery.story figure.gourmand-gallery-item:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
