html,
body {
  background: #202020;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  color: #666666;
  letter-spacing: .35px;
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
@media (max-width: 991px) {
  html,
  body {
    font-size: 15px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 540px) {
  html,
  body {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (max-width: 480px) {
  html,
  body {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar,
  body.right-sidebar {
    font-size: 15px;
    line-height: 30px;
  }
}
.gourmand-website-wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}
a {
  color: #ef4836;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #233141;
  text-decoration: none;
}
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
a:visited {
  color: #ef4836;
}
a:active,
a:focus {
  color: #233141;
}
p {
  margin: 32px 0px;
}
@media (max-width: 991px) {
  p {
    margin: 30px 0px;
  }
}
@media (max-width: 767px) {
  p {
    margin: 28px 0px;
  }
}
@media (max-width: 540px) {
  p {
    margin: 26px 0px;
  }
}
@media (max-width: 480px) {
  p {
    margin: 24px 0px;
  }
}
img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
p img {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 1199px) {
  body.left-sidebar p,
  body.right-sidebar p {
    margin: 30px 0px;
  }
}
em,
i {
  letter-spacing: .65px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 44px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 36px;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
    margin-top: 32px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h1,
  body.right-sidebar h1 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 40px;
  }
}
h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 40px;
}
@media (max-width: 991px) {
  h2 {
    font-size: 30px;
    line-height: 38px;
    margin-top: 38px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 36px;
  }
}
@media (max-width: 540px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 28px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h2,
  body.right-sidebar h2 {
    font-size: 30px;
    line-height: 38px;
    margin-top: 38px;
  }
}
h1,
h2 {
  color: #333333;
}
h3 {
  font-size: 30px;
  line-height: 38px;
  margin-top: 38px;
}
@media (max-width: 991px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 36px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
  }
}
@media (max-width: 540px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 21px;
    line-height: 27px;
    margin-top: 27px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h3,
  body.right-sidebar h3 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 36px;
  }
}
h4 {
  font-size: 27px;
  line-height: 34px;
  margin-top: 34px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 25px;
    line-height: 32px;
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 540px) {
  h4 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 28px;
  }
}
@media (max-width: 480px) {
  h4 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 26px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h4,
  body.right-sidebar h4 {
    font-size: 25px;
    line-height: 32px;
    margin-top: 32px;
  }
}
h3,
h4 {
  color: #454545;
}
h5 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 32px;
}
@media (max-width: 991px) {
  h5 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  h5 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 28px;
  }
}
@media (max-width: 540px) {
  h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 26px;
  }
}
@media (max-width: 480px) {
  h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h5,
  body.right-sidebar h5 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 30px;
  }
}
h6 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 32px;
}
@media (max-width: 991px) {
  h6 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  h6 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 28px;
  }
}
@media (max-width: 540px) {
  h6 {
    font-size: 17px;
    line-height: 25px;
    margin-top: 26px;
  }
}
@media (max-width: 480px) {
  h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h6,
  body.right-sidebar h6 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
  }
}
h5,
h6 {
  color: #505050;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 16px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0px;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 16px;
}
@media (max-width: 991px) {
  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: 15px;
  }
}
h1 + img,
h2 + img,
h3 + img,
h4 + img,
h5 + img,
h6 + img {
  margin-top: 32px;
}
@media (max-width: 991px) {
  h1 + img,
  h2 + img,
  h3 + img,
  h4 + img,
  h5 + img,
  h6 + img {
    margin-top: 30px;
  }
}
h1 + div.clearfix:last-child,
h2 + div.clearfix:last-child,
h3 + div.clearfix:last-child,
h4 + div.clearfix:last-child,
h5 + div.clearfix:last-child,
h6 + div.clearfix:last-child {
  margin-top: -16px;
}
@media (max-width: 991px) {
  h1 + div.clearfix:last-child,
  h2 + div.clearfix:last-child,
  h3 + div.clearfix:last-child,
  h4 + div.clearfix:last-child,
  h5 + div.clearfix:last-child,
  h6 + div.clearfix:last-child {
    margin-top: -15px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h1 + *,
  body.right-sidebar h1 + *,
  body.left-sidebar h2 + *,
  body.right-sidebar h2 + *,
  body.left-sidebar h3 + *,
  body.right-sidebar h3 + *,
  body.left-sidebar h4 + *,
  body.right-sidebar h4 + *,
  body.left-sidebar h5 + *,
  body.right-sidebar h5 + *,
  body.left-sidebar h6 + *,
  body.right-sidebar h6 + * {
    margin-top: 15px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h1 + img,
  body.right-sidebar h1 + img,
  body.left-sidebar h2 + img,
  body.right-sidebar h2 + img,
  body.left-sidebar h3 + img,
  body.right-sidebar h3 + img,
  body.left-sidebar h4 + img,
  body.right-sidebar h4 + img,
  body.left-sidebar h5 + img,
  body.right-sidebar h5 + img,
  body.left-sidebar h6 + img,
  body.right-sidebar h6 + img {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar h1 + div.clearfix:last-child,
  body.right-sidebar h1 + div.clearfix:last-child,
  body.left-sidebar h2 + div.clearfix:last-child,
  body.right-sidebar h2 + div.clearfix:last-child,
  body.left-sidebar h3 + div.clearfix:last-child,
  body.right-sidebar h3 + div.clearfix:last-child,
  body.left-sidebar h4 + div.clearfix:last-child,
  body.right-sidebar h4 + div.clearfix:last-child,
  body.left-sidebar h5 + div.clearfix:last-child,
  body.right-sidebar h5 + div.clearfix:last-child,
  body.left-sidebar h6 + div.clearfix:last-child,
  body.right-sidebar h6 + div.clearfix:last-child {
    margin-top: -15px;
  }
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
ul,
ol,
dl {
  margin: 32px 0px;
}
@media (max-width: 991px) {
  ul,
  ol,
  dl {
    margin: 30px 0px;
  }
}
@media (max-width: 767px) {
  ul,
  ol,
  dl {
    margin: 28px 0px;
  }
}
@media (max-width: 540px) {
  ul,
  ol,
  dl {
    margin: 26px 0px;
  }
}
@media (max-width: 480px) {
  ul,
  ol,
  dl {
    margin: 24px 0px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar ul,
  body.right-sidebar ul,
  body.left-sidebar ol,
  body.right-sidebar ol,
  body.left-sidebar dl,
  body.right-sidebar dl {
    margin: 30px 0px;
  }
}
li,
dt,
dd {
  color: #333333;
  margin-top: 12px;
}
li:first-child,
dt:first-child,
dd:first-child {
  margin-top: 0px;
}
li ul,
dt ul,
dd ul,
li ol,
dt ol,
dd ol,
li dl,
dt dl,
dd dl {
  margin: 22px 0px;
}
@media (max-width: 991px) {
  li ul,
  dt ul,
  dd ul,
  li ol,
  dt ol,
  dd ol,
  li dl,
  dt dl,
  dd dl {
    margin: 20px 0px;
  }
}
@media (max-width: 767px) {
  li ul,
  dt ul,
  dd ul,
  li ol,
  dt ol,
  dd ol,
  li dl,
  dt dl,
  dd dl {
    margin: 18px 0px;
  }
}
@media (max-width: 540px) {
  li ul,
  dt ul,
  dd ul,
  li ol,
  dt ol,
  dd ol,
  li dl,
  dt dl,
  dd dl {
    margin: 16px 0px;
  }
}
@media (max-width: 480px) {
  li ul,
  dt ul,
  dd ul,
  li ol,
  dt ol,
  dd ol,
  li dl,
  dt dl,
  dd dl {
    margin: 14px 0px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar li ul,
  body.right-sidebar li ul,
  body.left-sidebar dt ul,
  body.right-sidebar dt ul,
  body.left-sidebar dd ul,
  body.right-sidebar dd ul,
  body.left-sidebar li ol,
  body.right-sidebar li ol,
  body.left-sidebar dt ol,
  body.right-sidebar dt ol,
  body.left-sidebar dd ol,
  body.right-sidebar dd ol,
  body.left-sidebar li dl,
  body.right-sidebar li dl,
  body.left-sidebar dt dl,
  body.right-sidebar dt dl,
  body.left-sidebar dd dl,
  body.right-sidebar dd dl {
    margin: 20px 0px;
  }
}
dt {
  color: #454545;
  margin-top: 22px;
}
@media (max-width: 991px) {
  dt {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  dt {
    margin-top: 18px;
  }
}
@media (max-width: 540px) {
  dt {
    margin-top: 16px;
  }
}
@media (max-width: 480px) {
  dt {
    margin-top: 14px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar dt,
  body.right-sidebar dt {
    margin-top: 20px;
  }
}
dd {
  font-size: 95%;
}
blockquote {
  border-left: 6px solid #e8eaed;
  margin: 32px 0px 32px 35px;
  padding: 28px 0px 28px 35px;
  font-weight: normal;
  max-width: 690px;
}
@media (max-width: 991px) {
  blockquote {
    margin: 30px 0px 30px 34px;
    padding: 28px 0px 28px 34px;
  }
}
@media (max-width: 767px) {
  blockquote {
    margin: 28px 0px 28px 32px;
    padding: 28px 0px 28px 32px;
  }
}
@media (max-width: 540px) {
  blockquote {
    margin: 26px 0px 26px 30px;
    padding: 26px 0px 26px 30px;
  }
}
@media (max-width: 480px) {
  blockquote {
    margin: 24px 0px 24px 30px;
    padding: 24px 0px 24px 28px;
  }
}
blockquote,
blockquote p {
  color: #333333;
  font-size: 22px;
  line-height: 38px;
  font-weight: normal;
  letter-spacing: -0.15px;
}
@media (max-width: 991px) {
  blockquote,
  blockquote p {
    font-size: 20px;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
  blockquote,
  blockquote p {
    font-size: 18px;
    line-height: 36px;
  }
}
@media (max-width: 540px) {
  blockquote,
  blockquote p {
    font-size: 17px;
    line-height: 34px;
  }
}
@media (max-width: 480px) {
  blockquote,
  blockquote p {
    font-size: 16px;
    line-height: 32px;
  }
}
blockquote p {
  margin: 32px 0px;
}
@media (max-width: 991px) {
  blockquote p {
    margin: 30px 0px;
  }
}
@media (max-width: 767px) {
  blockquote p {
    margin: 28px 0px;
  }
}
@media (max-width: 540px) {
  blockquote p {
    margin: 26px 0px;
  }
}
@media (max-width: 480px) {
  blockquote p {
    margin: 24px 0px;
  }
}
blockquote p:first-child {
  margin-top: 0px;
}
blockquote p:last-child {
  margin-bottom: 0px;
}
blockquote p + cite,
blockquote p cite {
  margin-top: 24px;
  letter-spacing: .25px;
}
blockquote br + cite {
  margin-top: 24px;
}
blockquote cite {
  display: inline-block;
  color: #ababab;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0px;
  font-style: normal;
  letter-spacing: .25px;
}
blockquote cite:before {
  content: '\2014 \00A0';
}
@media (max-width: 1199px) {
  body.left-sidebar blockquote,
  body.right-sidebar blockquote {
    margin: 30px 0px 30px 34px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar blockquote,
  body.right-sidebar blockquote,
  body.left-sidebar blockquote p,
  body.right-sidebar blockquote p {
    font-size: 20px;
    line-height: 38px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar blockquote p,
  body.right-sidebar blockquote p {
    margin: 30px 0px;
  }
}
body.left-sidebar blockquote p:first-child,
body.right-sidebar blockquote p:first-child {
  margin-top: 0px;
}
body.left-sidebar blockquote p:last-child,
body.right-sidebar blockquote p:last-child {
  margin-bottom: 0px;
}
table {
  clear: both;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 32px 0px;
  font-size: 90%;
}
@media (max-width: 991px) {
  table {
    margin: 30px 0px;
  }
}
@media (max-width: 767px) {
  table {
    margin: 28px 0px;
  }
}
@media (max-width: 540px) {
  table {
    margin: 26px 0px;
  }
}
@media (max-width: 480px) {
  table {
    margin: 24px 0px;
  }
}
table,
table th {
  text-align: none;
}
table.align-center,
table.align-center th {
  text-align: center;
}
table.align-left,
table.align-left th {
  text-align: left;
}
table.align-right,
table.align-right th {
  text-align: right;
}
table th {
  color: #454545;
}
table td,
table th {
  padding: 15px;
  border: 1px solid #d7d9db;
}
@media (max-width: 991px) {
  table td,
  table th {
    padding: 14px;
  }
}
@media (max-width: 767px) {
  table td,
  table th {
    padding: 13px;
  }
}
@media (max-width: 520px) {
  table td,
  table th {
    padding: 12px;
  }
}
table tr.odd {
  background: #f7f7f7;
}
@media (max-width: 1199px) {
  body.left-sidebar table,
  body.right-sidebar table {
    margin: 30px 0px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar table td,
  body.right-sidebar table td,
  body.left-sidebar table th,
  body.right-sidebar table th {
    padding: 14px;
  }
}
code {
  padding: 4px 5px;
  font-size: 84%;
  color: #454545;
  background-color: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code.dark-skin {
  background: #1A1E25;
  color: #bfd2db;
}
pre {
  background: #f9f9f9;
  border: none;
  color: #454545;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.15px;
  margin: 32px 0px;
  padding: 18px 24px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
@media (max-width: 991px) {
  pre {
    margin: 30px 0px;
  }
}
@media (max-width: 767px) {
  pre {
    margin: 28px 0px;
  }
}
@media (max-width: 540px) {
  pre {
    margin: 26px 0px;
  }
}
@media (max-width: 480px) {
  pre {
    margin: 24px 0px;
  }
}
pre.dark-skin {
  background: #1A1E25;
  color: #bfd2db;
}
@media (max-width: 1199px) {
  body.left-sidebar pre,
  body.right-sidebar pre {
    margin: 30px 0px;
  }
}
.container {
  max-width: 1630px;
  width: 92.5%;
}
#gourmand-header-wrapper .container,
#gourmand-breadcrumbs-wrapper .container,
#gourmand-content-wrapper .container {
  max-width: 890px;
  width: 92.5%;
}
body.left-sidebar section#gourmand-content {
  float: right;
}
body.left-sidebar section#gourmand-content div.gourmand-content {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 40px;
}
body.left-sidebar aside#gourmand-sidebar {
  float: left;
}
body.left-sidebar aside#gourmand-sidebar div.gourmand-sidebar {
  padding-right: 40px;
}
body.right-sidebar section#gourmand-content {
  float: left;
}
body.right-sidebar section#gourmand-content div.gourmand-content {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 40px;
}
body.right-sidebar aside#gourmand-sidebar {
  float: right;
}
body.right-sidebar aside#gourmand-sidebar div.gourmand-sidebar {
  padding-left: 40px;
}
body.left-sidebar #gourmand-header-wrapper .container,
body.right-sidebar #gourmand-header-wrapper .container,
body.left-sidebar #gourmand-breadcrumbs-wrapper .container,
body.right-sidebar #gourmand-breadcrumbs-wrapper .container,
body.left-sidebar #gourmand-content-wrapper .container,
body.right-sidebar #gourmand-content-wrapper .container {
  max-width: 1320px;
  width: 92.5%;
}
@media (max-width: 991px) {
  body.left-sidebar #gourmand-header-wrapper .container,
  body.right-sidebar #gourmand-header-wrapper .container,
  body.left-sidebar #gourmand-breadcrumbs-wrapper .container,
  body.right-sidebar #gourmand-breadcrumbs-wrapper .container,
  body.left-sidebar #gourmand-content-wrapper .container,
  body.right-sidebar #gourmand-content-wrapper .container {
    max-width: 890px;
  }
}
body.left-sidebar section#gourmand-content,
body.right-sidebar section#gourmand-content {
  width: 69.76744186%;
}
@media (max-width: 991px) {
  body.left-sidebar section#gourmand-content,
  body.right-sidebar section#gourmand-content {
    width: 100%;
    float: none;
  }
}
@media (max-width: 991px) {
  body.left-sidebar section#gourmand-content div.gourmand-content,
  body.right-sidebar section#gourmand-content div.gourmand-content {
    border: none;
    padding: 0px;
  }
}
body.left-sidebar aside#gourmand-sidebar,
body.right-sidebar aside#gourmand-sidebar {
  width: 30.23255814%;
}
@media (max-width: 991px) {
  body.left-sidebar aside#gourmand-sidebar,
  body.right-sidebar aside#gourmand-sidebar {
    display: none;
  }
}
.col-layout {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-layout:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
#gourmand-content-wrapper {
  padding: 120px 0px;
}
@media (max-width: 1680px) {
  #gourmand-content-wrapper {
    padding: 105px 0px;
  }
}
@media (max-width: 1440px) {
  #gourmand-content-wrapper {
    padding: 90px 0px;
  }
}
@media (max-width: 1380px) {
  #gourmand-content-wrapper {
    padding: 86px 0px;
  }
}
@media (max-width: 1280px) {
  #gourmand-content-wrapper {
    padding: 80px 0px;
  }
}
@media (max-width: 1199px) {
  #gourmand-content-wrapper {
    padding: 75px 0px;
  }
}
@media (max-width: 1024px) {
  #gourmand-content-wrapper {
    padding: 64px 0px;
  }
}
@media (max-width: 991px) {
  #gourmand-content-wrapper {
    padding: 62px 0px;
  }
}
@media (max-width: 768px) {
  #gourmand-content-wrapper {
    padding: 48px 0px;
  }
}
@media (max-width: 720px) {
  #gourmand-content-wrapper {
    padding: 45px 0px;
  }
}
@media (max-width: 640px) {
  #gourmand-content-wrapper {
    padding: 40px 0px;
  }
}
@media (max-width: 540px) {
  #gourmand-content-wrapper {
    padding: 34px 0px;
  }
}
@media (max-width: 480px) {
  #gourmand-content-wrapper {
    padding: 30px 0px;
  }
}
body.footer-social-links.large-social-links #gourmand-content-wrapper {
  padding-bottom: 200px;
}
@media (max-width: 1680px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 185px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 170px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 166px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 160px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 140px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 129px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 120px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 90px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 87px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 82px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 62px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper {
    padding-bottom: 58px;
  }
}
body.footer-social-links.medium-social-links #gourmand-content-wrapper {
  padding-bottom: 152px;
}
@media (max-width: 1680px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 137px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 122px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 118px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 112px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 107px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 96px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 92px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 73px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 70px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 65px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 59px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.medium-social-links #gourmand-content-wrapper {
    padding-bottom: 50px;
  }
}
#gourmand-content-wrapper.front-page.sections {
  padding: 0px;
}
@media (max-width: 1680px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1380px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1199px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 720px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 540px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 480px) {
  #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
  padding: 0px;
}
@media (max-width: 1680px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.large-social-links #gourmand-content-wrapper.front-page.sections,
  body.footer-social-links.medium-social-links #gourmand-content-wrapper.front-page.sections {
    padding: 0px;
  }
}
body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
  padding: 120px 0px;
}
@media (max-width: 1680px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 105px 0px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 90px 0px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 86px 0px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 80px 0px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 75px 0px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 64px 0px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 62px 0px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 48px 0px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 45px 0px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 40px 0px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 34px 0px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.home.blog div#gourmand-content-wrapper.front-page.sections {
    padding: 30px 0px;
  }
}
body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
  padding-bottom: 200px;
}
@media (max-width: 1680px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 185px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 170px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 166px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 160px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 140px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 129px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 120px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 90px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 87px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 82px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 62px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.home.blog.large-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 58px;
  }
}
body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
  padding-bottom: 152px;
}
@media (max-width: 1680px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 137px;
  }
}
@media (max-width: 1440px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 122px;
  }
}
@media (max-width: 1380px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 118px;
  }
}
@media (max-width: 1280px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 112px;
  }
}
@media (max-width: 1199px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 107px;
  }
}
@media (max-width: 1024px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 96px;
  }
}
@media (max-width: 991px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 92px;
  }
}
@media (max-width: 768px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 73px;
  }
}
@media (max-width: 720px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 70px;
  }
}
@media (max-width: 640px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 65px;
  }
}
@media (max-width: 540px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 59px;
  }
}
@media (max-width: 480px) {
  body.footer-social-links.home.blog.medium-social-links div#gourmand-content-wrapper.front-page.sections {
    padding-bottom: 50px;
  }
}
iframe {
  max-width: 100%;
}
.header-partial .wp-custom-header iframe {
  max-width: none;
}
.hentry {
  font-weight: 300;
}
.hentry > *:first-child {
  margin-top: 0px;
}
.hentry > *:last-child {
  margin-bottom: 0px;
}
.hentry > h1 + div.clearfix:last-child,
.hentry > h2 + div.clearfix:last-child,
.hentry > h3 + div.clearfix:last-child,
.hentry > h4 + div.clearfix:last-child,
.hentry > h5 + div.clearfix:last-child,
.hentry > h6 + div.clearfix:last-child {
  margin-bottom: -16px;
}
@media (max-width: 991px) {
  .hentry > h1 + div.clearfix:last-child,
  .hentry > h2 + div.clearfix:last-child,
  .hentry > h3 + div.clearfix:last-child,
  .hentry > h4 + div.clearfix:last-child,
  .hentry > h5 + div.clearfix:last-child,
  .hentry > h6 + div.clearfix:last-child {
    margin-bottom: -15px;
  }
}
@media (max-width: 767px) {
  .hentry > h1 + div.clearfix:last-child,
  .hentry > h2 + div.clearfix:last-child,
  .hentry > h3 + div.clearfix:last-child,
  .hentry > h4 + div.clearfix:last-child,
  .hentry > h5 + div.clearfix:last-child,
  .hentry > h6 + div.clearfix:last-child {
    margin-bottom: -14px;
  }
}
@media (max-width: 540px) {
  .hentry > h1 + div.clearfix:last-child,
  .hentry > h2 + div.clearfix:last-child,
  .hentry > h3 + div.clearfix:last-child,
  .hentry > h4 + div.clearfix:last-child,
  .hentry > h5 + div.clearfix:last-child,
  .hentry > h6 + div.clearfix:last-child {
    margin-bottom: -13px;
  }
}
@media (max-width: 480px) {
  .hentry > h1 + div.clearfix:last-child,
  .hentry > h2 + div.clearfix:last-child,
  .hentry > h3 + div.clearfix:last-child,
  .hentry > h4 + div.clearfix:last-child,
  .hentry > h5 + div.clearfix:last-child,
  .hentry > h6 + div.clearfix:last-child {
    margin-bottom: -12px;
  }
}
.hentry > blockquote + div.clearfix:last-child,
.hentry > table + div.clearfix:last-child,
.hentry > br + div.clearfix:last-child,
.hentry > pre + div.clearfix:last-child,
.hentry > dl + div.clearfix:last-child,
.hentry > ul + div.clearfix:last-child,
.hentry > ol + div.clearfix:last-child,
.hentry > p + div.clearfix:last-child {
  margin-bottom: -32px;
}
@media (max-width: 991px) {
  .hentry > blockquote + div.clearfix:last-child,
  .hentry > table + div.clearfix:last-child,
  .hentry > br + div.clearfix:last-child,
  .hentry > pre + div.clearfix:last-child,
  .hentry > dl + div.clearfix:last-child,
  .hentry > ul + div.clearfix:last-child,
  .hentry > ol + div.clearfix:last-child,
  .hentry > p + div.clearfix:last-child {
    margin-bottom: -30px;
  }
}
@media (max-width: 767px) {
  .hentry > blockquote + div.clearfix:last-child,
  .hentry > table + div.clearfix:last-child,
  .hentry > br + div.clearfix:last-child,
  .hentry > pre + div.clearfix:last-child,
  .hentry > dl + div.clearfix:last-child,
  .hentry > ul + div.clearfix:last-child,
  .hentry > ol + div.clearfix:last-child,
  .hentry > p + div.clearfix:last-child {
    margin-bottom: -28px;
  }
}
@media (max-width: 540px) {
  .hentry > blockquote + div.clearfix:last-child,
  .hentry > table + div.clearfix:last-child,
  .hentry > br + div.clearfix:last-child,
  .hentry > pre + div.clearfix:last-child,
  .hentry > dl + div.clearfix:last-child,
  .hentry > ul + div.clearfix:last-child,
  .hentry > ol + div.clearfix:last-child,
  .hentry > p + div.clearfix:last-child {
    margin-bottom: -26px;
  }
}
@media (max-width: 480px) {
  .hentry > blockquote + div.clearfix:last-child,
  .hentry > table + div.clearfix:last-child,
  .hentry > br + div.clearfix:last-child,
  .hentry > pre + div.clearfix:last-child,
  .hentry > dl + div.clearfix:last-child,
  .hentry > ul + div.clearfix:last-child,
  .hentry > ol + div.clearfix:last-child,
  .hentry > p + div.clearfix:last-child {
    margin-bottom: -24px;
  }
}
.hentry small {
  color: #888888;
}
.hentry strong {
  color: #333333;
}
.hentry img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  body.left-sidebar .hentry > h1 + div.clearfix:last-child,
  body.right-sidebar .hentry > h1 + div.clearfix:last-child,
  body.left-sidebar .hentry > h2 + div.clearfix:last-child,
  body.right-sidebar .hentry > h2 + div.clearfix:last-child,
  body.left-sidebar .hentry > h3 + div.clearfix:last-child,
  body.right-sidebar .hentry > h3 + div.clearfix:last-child,
  body.left-sidebar .hentry > h4 + div.clearfix:last-child,
  body.right-sidebar .hentry > h4 + div.clearfix:last-child,
  body.left-sidebar .hentry > h5 + div.clearfix:last-child,
  body.right-sidebar .hentry > h5 + div.clearfix:last-child,
  body.left-sidebar .hentry > h6 + div.clearfix:last-child,
  body.right-sidebar .hentry > h6 + div.clearfix:last-child {
    margin-bottom: -15px;
  }
}
@media (max-width: 1199px) {
  body.left-sidebar .hentry > blockquote + div.clearfix:last-child,
  body.right-sidebar .hentry > blockquote + div.clearfix:last-child,
  body.left-sidebar .hentry > table + div.clearfix:last-child,
  body.right-sidebar .hentry > table + div.clearfix:last-child,
  body.left-sidebar .hentry > br + div.clearfix:last-child,
  body.right-sidebar .hentry > br + div.clearfix:last-child,
  body.left-sidebar .hentry > pre + div.clearfix:last-child,
  body.right-sidebar .hentry > pre + div.clearfix:last-child,
  body.left-sidebar .hentry > dl + div.clearfix:last-child,
  body.right-sidebar .hentry > dl + div.clearfix:last-child,
  body.left-sidebar .hentry > ul + div.clearfix:last-child,
  body.right-sidebar .hentry > ul + div.clearfix:last-child,
  body.left-sidebar .hentry > ol + div.clearfix:last-child,
  body.right-sidebar .hentry > ol + div.clearfix:last-child,
  body.left-sidebar .hentry > p + div.clearfix:last-child,
  body.right-sidebar .hentry > p + div.clearfix:last-child {
    margin-bottom: -30px;
  }
}
.space-extra-large {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 1680px) {
  .space-extra-large {
    margin-top: 105px;
    margin-bottom: 105px;
  }
}
@media (max-width: 1440px) {
  .space-extra-large {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
@media (max-width: 1380px) {
  .space-extra-large {
    margin-top: 86px;
    margin-bottom: 86px;
  }
}
@media (max-width: 1280px) {
  .space-extra-large {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 1199px) {
  .space-extra-large {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}
@media (max-width: 1024px) {
  .space-extra-large {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (max-width: 991px) {
  .space-extra-large {
    margin-top: 62px;
    margin-bottom: 62px;
  }
}
@media (max-width: 768px) {
  .space-extra-large {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
@media (max-width: 720px) {
  .space-extra-large {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
@media (max-width: 640px) {
  .space-extra-large {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 540px) {
  .space-extra-large {
    margin-top: 34px;
    margin-bottom: 34px;
  }
}
@media (max-width: 480px) {
  .space-extra-large {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.space-large {
  margin-top: 80px;
  margin-bottom: 80px;
}
.space {
  margin-top: 64px;
  margin-bottom: 64px;
}
.space-small {
  margin-top: 32px;
  margin-bottom: 32px;
}
.gourmand-table {
  display: table;
}
.gourmand-cell {
  display: table-cell;
}
.valign-middle {
  vertical-align: middle;
}
.valign-bottom {
  vertical-align: bottom;
}
.overflow-wrapper {
  overflow: hidden;
}
.flex-container {
  position: absolute;
  left: 0;
  width: 100%;
  display: table;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flex;
  display: flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  height: 100%;
}
.flex-container.valign-top {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-align: start;
  -moz-flex-align: start;
  -ms-flex-align: start;
  -o-flex-align: start;
  flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
}
.flex-container.valign-top .flex-item {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  align-self: flex-start;
}
.flex-container.valign-middle {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-align: start;
  -moz-flex-align: start;
  -ms-flex-align: start;
  -o-flex-align: start;
  flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
}
.flex-container.valign-middle .flex-item {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
}
.flex-container.valign-bottom {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-align: start;
  -moz-flex-align: start;
  -ms-flex-align: start;
  -o-flex-align: start;
  flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
}
.flex-container.valign-bottom .flex-item {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}
.flex-container .flex-item {
  width: 100%;
}
.flex-container .flex-item.align-left {
  text-align: left;
}
.flex-container .flex-item.align-center {
  text-align: center;
}
.flex-container .flex-item.align-right {
  text-align: right;
}
.accent-color {
  color: #ef4836;
}
.accent-bkg {
  background-color: #ef4836;
}
.oblique {
  font-style: italic;
  letter-spacing: .65px;
}
.gourmand-box-shadow {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.gourmand-video-wrapper > * {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.gourmand-video-wrapper iframe {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
div.gourmand-shadow-wrapper {
  position: fixed;
  display: table;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 100000;
}
div.gourmand-shadow-wrapper.search-form {
  display: none;
}
div.gourmand-shadow-wrapper.search-form.gourmand-visible {
  display: table;
}
div.gourmand-shadow-inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
div.gourmand-shadow {
  background: rgba(0, 0, 0, 0);
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 100001;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
div.gourmand-shadow.gourmand-visible {
  background: rgba(0, 0, 0, 0);
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.gourmand-shadow.gourmand-visible.gourmand-effect {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  filter: alpha(opacity=100);
}
div.gourmand-popup {
  width: 90%;
  max-width: 380px;
  height: 0px;
  position: absolute;
  display: none;
  z-index: 100002;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.gourmand-popup > * {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
}
div.gourmand-popup > *:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
div.gourmand-popup.gourmand-visible {
  display: inline-block;
  position: relative;
  margin-top: -50px;
  width: 90%;
  max-width: 400px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div.gourmand-popup.gourmand-visible.gourmand-effect {
  margin-top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div.gourmand-popup.gourmand-visible.gourmand-effect > * {
  display: inline-block;
  width: auto;
  -webkit-box-shadow: 2px 8px 20px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 8px 20px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div#wp-a11y-speak-polite {
  visibility: hidden;
  display: none;
}
::placeholder {
  color: #bbbbbb;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #bbbbbb;
}
::-ms-input-placeholder {
  color: #bbbbbb;
}
