.gourmand-chef-menu div.add-new-menu-side {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px 15px 0px;
  text-align: right;
}
.gourmand-chef-menu .menu-sides-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side {
  padding: 15px;
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="text"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="url"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="number"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="range"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="email"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner select,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner textarea {
  background-color: #ffffff;
  border: 1px solid #dedede;
  font-family: Roboto, sans-serif, Arial, serif;
  font-size: 13px;
  line-height: 18px;
  color: #787878;
  width: 100%;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="text"]:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="url"]:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="number"]:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="range"]:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="email"]:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner select:focus,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner textarea:focus {
  border: 1px solid rgba(0, 114, 188, 0.5);
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: none;
  outline: 0 none \9;
  outline: unset;
  outline-width: 0;
  outline-style: none;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0;
  filter: -;
}
@media (max-width: 782px) {
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="text"],
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="url"],
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="number"],
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="range"],
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="email"],
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner select,
  .gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner textarea {
    font-size: 13px;
    font-weight: normal;
  }
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="tel"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="url"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="text"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="email"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="phone"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="number"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner input[type="password"],
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner select {
  height: 34px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner textarea {
  height: 100px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-wrapper div.header-panel {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-wrapper div.header-panel:hover {
  cursor: pointer;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side {
  position: relative;
  display: table;
  width: 100%;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side:before,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side::before {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  left: 0px;
  top: -20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side:after,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side::after {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  left: 0px;
  top: -17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side a.delete-menu-side {
  float: right;
  margin-top: -23px;
  font-size: 12px;
  color: #aa0000;
  text-decoration: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side a.delete-menu-side:hover {
  color: #dc3232;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side strong {
  display: none;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 18px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side strong:hover {
  cursor: pointer;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side input.title {
  display: block;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side input.title:active,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.header-menu-side input.title:focus {
  color: #000000;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.content-menu-side {
  display: block;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0px;
  padding: 0px 20px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  margin: 18px 0px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish:hover div.header {
  cursor: pointer;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish:hover div.header strong {
  color: #121212;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header {
  padding: 10px 20px;
  position: relative;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header strong {
  color: #232323;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header a {
  color: #999999;
  margin-left: -10px;
  margin-right: 5px;
  text-decoration: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header a:hover {
  color: #dc3232;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header:before,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header::before {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  width: 10px;
  height: 10px;
  right: 10px;
  top: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header:after,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.header::after {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  content: '';
  width: 10px;
  height: 10px;
  right: 10px;
  top: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  background: #f5f5f5;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px auto 0px auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:visited,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:active,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: none;
  outline: 0 none \9;
  outline: unset;
  outline-width: 0;
  outline-style: none;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0;
  filter: -;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image i {
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100px;
  font-size: 36px;
  font-style: normal;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image.not-has-image {
  border: 1px dashed #b4b9be;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image.not-has-image i {
  color: #b4b9be;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image.not-has-image img {
  display: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:hover {
  cursor: pointer;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:hover i {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:hover.not-has-image {
  border: 1px dashed #676662;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image:hover.not-has-image i {
  background: transparent;
  color: #676662;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content a.image img {
  max-width: 100%;
  min-height: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper {
  display: block;
  margin: 20px 0px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper input {
  display: block;
  float: left;
  margin: 0px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper input.title {
  width: -webkit-calc( 100% - 103px );
  width: -moz-calc( 100% - 103px );
  width: calc( 100% - 103px );
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper input.currency {
  border-left: none;
  border-right: none;
  width: 41px;
  padding: 7px 3px;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper input.price {
  width: 62px;
  padding: 7px 3px 7px 8px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish div.content span.fields-wrapper:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.header strong {
  color: #444444;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.header:before,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.header::before {
  position: absolute;
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.2);
  content: '';
  width: 10px;
  height: 10px;
  top: 18px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.header:after,
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.header::after {
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  content: '';
  width: 10px;
  height: 10px;
  top: 15px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner ul li.dish.not-collapsed div.content {
  display: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.add-new-dish {
  background: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: right;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side div.inner div.add-new-dish a.button {
  background: #ffffff;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side a.delete-menu-side {
  margin-top: 0px;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side strong {
  display: block;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side input.title {
  display: none;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side:before,
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side::before {
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.2);
  left: 0px;
  top: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side:after,
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.header-menu-side::after {
  border: 5px solid transparent;
  border-top-color: #ffffff;
  left: 0px;
  top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gourmand-chef-menu .menu-sides-wrapper .menu-side.not-collapsed div.inner div.content-menu-side {
  display: none;
}
.gourmand-chef-menu .menu-sides-wrapper:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
